.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  padding: 20px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.canvas {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
}
